<section id="gallery" class="tm-section-pad-top">
  <div class="container tm-container-gallery">
    <div class="row">
      <div class="text-center col-12">
        <h2 class="tm-text-primary tm-section-title mb-4">Gallery</h2>
        <p class="mx-auto tm-section-desc">
          Praesent sed pharetra lorem, blandit convallis mi. Aenean ornare elit ac metus lacinia, sed iaculis nibh semper. Pellentesque est urna, lobortis eu arcu a, aliquet tristique urna.
        </p>
      </div>            
    </div>
    <div class="row">
      <div class="col-12">
        <div class="mx-auto tm-gallery-container">
          <div class="grid tm-gallery">
            <a href="assets/img/gallery-img-01.jpg">
              <figure class="effect-honey tm-gallery-item">
                <img src="https://www.tooplate.com/templates/2117_infinite_loop/img/gallery-tn-01.jpg" alt="Image 1" class="img-fluid">
                <figcaption><h2><i>Physical Health <span>Exercise!</span></i></h2></figcaption>
              </figure>
            </a>
            <a href="assets/img/gallery-img-02.jpg">
              <figure class="effect-honey tm-gallery-item">
                <img src="https://www.tooplate.com/templates/2117_infinite_loop/img/gallery-tn-02.jpg" alt="Image 1" class="img-fluid">
                <figcaption><h2><i>Physical Health <span>Exercise!</span></i></h2></figcaption>
              </figure>
            </a>
            <a href="assets/img/gallery-img-03.jpg">
              <figure class="effect-honey tm-gallery-item">
                <img src="https://www.tooplate.com/templates/2117_infinite_loop/img/gallery-tn-03.jpg" alt="Image 1" class="img-fluid">
                <figcaption><h2><i>Physical Health <span>Exercise!</span></i></h2></figcaption>
              </figure>
            </a>
            <a href="assets/img/gallery-img-04.jpg">
              <figure class="effect-honey tm-gallery-item">
                <img src="https://www.tooplate.com/templates/2117_infinite_loop/img/gallery-tn-04.jpg" alt="Image 1" class="img-fluid">
                <figcaption><h2><i>Physical Health <span>Exercise!</span></i></h2></figcaption>
              </figure>
            </a>
            <a href="assets/img/gallery-img-04.jpg">
              <figure class="effect-honey tm-gallery-item">
                <img src="https://www.tooplate.com/templates/2117_infinite_loop/img/gallery-tn-05.jpg" alt="Image 1" class="img-fluid">
                <figcaption><h2><i>Physical Health <span>Exercise!</span></i></h2></figcaption>
              </figure>
            </a>
          </div>
        </div>                
      </div>        
    </div>
  </div>
</section>